.prymari{
    background-color: rgb(255, 255, 255);
    border: 1px solid #c2c2c2 ;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 5px;
}
.prymari:hover{
    box-shadow: 0px 0px 8px  8px;

}
.secundary{
    background-color: rgb(0, 0, 0);
    color: white;
    font-size: 16px;
    border: 1px solid #c2c2c2 ;
    padding: 6px 8px;
    border-radius: 10px;
}
.secundary:hover{
    box-shadow: 0px 0px 6px  6px;
    
}
